{% extends "template.html" %}
{% block content %}
<head>
<style>
</style>
</head>

<body>
	<h1>Privacy Policy</h1>

	We value your privacy at Hello Panda

	Information we collect
	When you create an account with Hello Panda, your provide us with personal information
	that includes your name and password to your account. We also collect information provided
	in the event creation form, registration of an event, and any consent provided for the event.

	Why we collect your information
	We use information like your email address to directly communicate with you like notification
	of suspicious activity, updates on Hello Panda and reminders for your registered events.
	We use information to protect our users from security breaches and abuse. We use your
	email address and password to identify that only authorised people are able to access your
	account

	Privacy controls
	Once your signed - in, you can always review and update your information, as well as delete
	your account
	We do not share your information with other organisations, companies or individuals outside
	of our organisation

	Keeping your information secure
	Hello Panda is built with security features that protect your information. If we detect a
	security breach, you will be notified via email. Moreover, you can delete your account
	anytime by contacting us. Our contact information is in our website, under the ‘Contact Us’ 



</body>

{% endblock %}