{% extends "template.html" %}
{% block css %}
    {% include "/pages/studenteventdetails/studenteventdetails.css" %}
{% endblock %}

{% block content %}
    <div id="event-div">
        <div id="details">
            <table id="detail-table">
                <tr class="detail-table-row">
                    
                    <td>Event Name: {{event[0].topic}}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Date: {{event[0].start_datetime}}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Location: {{event[0].venue}}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Description: {{event[0].synopsis}}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Number of slots: {{event[0].slots}}</td> <!-- add jinja variable here -->
                </tr>
            </table>
        </div>
        {% if logined %}
        <form id="buttons-div" method="POST">
            <div>
                <button id="signup-button" name="signup" type="submit" value="signup">SIGN UP</button>
            </div>
            <div>
                <button id="unregister-button" name="unregister" type="submit" value="unregister">UNREGISTER</button>
            </div>
        </form>
        {% endif %}
        {% if misc_msg %} <!-- can change if condition as needed-->
        <div class="alert-wrapper">
            <div class="alert">
                <strong>{{misc_msg}}</strong>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}